body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
h1, #timer{
    color: white;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#bgVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container {
    text-align: center;
}

#timer {
    font-size: 1.5em;
    margin: 10px 0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
    overflow: hidden;
    perspective: 1000px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

.card.flipped img {
    display: block;
}

.card.flipped {
    transform: rotateY(180deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
    animation: fadeIn 1s;
}

.modal-content {
    background: linear-gradient(10deg, #8B0000, #2F4F4F, #8B0000);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    animation: slideIn 0.5s;
}

.modal-content h2 {
    color: #fff;
}
.modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Opcional: añade borde redondeado a la imagen */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { top: -50%; opacity: 0; }
    to { top: 15%; opacity: 1; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #8B0000;
    color: #fff;
}

button:hover {
    background-color: #555;
    transform: scale(1.1);
}
